<div *ngIf="!isBeingCreated">
    <label>{{ titleValue }}</label> 
    <br/>
    <div>
        <label *ngIf="isFromTo">Od </label>
        <label *ngIf="!isFromTo">Data: </label>
        <input type="date" [value]="dateFromValue"/>
        <br/>
    </div>
    <div *ngIf="isFromTo">
        <label>Do </label>
        <input type="date" [value]="dateToValue"/>
        <br/>
    </div>
</div>
<div *ngIf="isBeingCreated">
    <input type="text" [value]="titleValue"/> 
    <br/>
    <div>
        <label *ngIf="isFromTo">Od </label>
        <label *ngIf="!isFromTo">Data: </label>
        <input type="date" [value]="dateFromValue"/>
        <br/>
    </div>
    <div *ngIf="isFromTo">
        <label>Do </label>
        <input type="date" [value]="dateToValue"/>
        <br/>
    </div>
    <div>
        <input type="checkbox" [(ngModel)]="isFromTo"/>
        <label>Od - Do</label>
    </div>
</div>