<div class="dateBoxComponent">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ titleValue }}</label> 
        <br/>
        <div>
            <label *ngIf="isFromTo" class="labelka">Od </label>
            <label *ngIf="!isFromTo" class="labelka">Data: </label>
            <input type="date" [value]="dateFromValue"/>
            <br/>
        </div>
        <div *ngIf="isFromTo">
            <label class="labelka">Do </label>
            <input type="date" [value]="dateToValue"/>
            <br/>
        </div>
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" [value]="titleValue"/> 
        <br/>
        <div>
            <label *ngIf="isFromTo">Od </label>
            <label *ngIf="!isFromTo">Data: </label>
            <input type="date" [value]="dateFromValue" disabled/>
            <br/>
        </div>
        <div *ngIf="isFromTo">
            <label>Do </label>
            <input type="date" [value]="dateToValue" disabled/>
            <br/>
        </div>
        <div>
            <input id="isFromTo" type="checkbox" [(ngModel)]="isFromTo" class="chkBox"/>
            <label for="isFromTo">Od - Do</label>
        </div>
    </div>
</div>