<div class="dateBoxComponent">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ fieldInfo.title }}</label> 
        <br/>
        <div>
            <label *ngIf="isFromTo" class="labelka">Od </label>
            <label *ngIf="!isFromTo" class="labelka">Data: </label>
            <input type="date" [value]="fieldInfo.dateFrom" [disabled]="[STATE.FIELD_EDIT, STATE.FIELD_VIEW, STATE.TEMPLATE_EDIT, STATE.TEMPLATE_VIEW].includes(stateMgr.getState())"/>
            <br/>
        </div>
        <div *ngIf="isFromTo">
            <label class="labelka">Do </label>
            <input type="date" [value]="fieldInfo.dateTo" [disabled]="[STATE.FIELD_EDIT, STATE.FIELD_VIEW, STATE.TEMPLATE_EDIT, STATE.TEMPLATE_VIEW].includes(stateMgr.getState())"/>
            <br/>
        </div>
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" [(ngModel)]="fieldInfo.title"/> 
        <br/>
        <div>
            <label *ngIf="isFromTo">Od </label>
            <label *ngIf="!isFromTo">Data: </label>
            <input type="date" [(ngModel)]="fieldInfo.dateFrom" disabled/>
            <br/>
        </div>
        <div *ngIf="isFromTo">
            <label>Do </label>
            <input type="date" [(ngModel)]="fieldInfo.dateTo" disabled/>
            <br/>
        </div>
        <div (click)="isFromTo = !isFromTo">
            <input id="isFromTo" type="checkbox" [(ngModel)]="isFromTo" class="chkBox"/>
            <label>Od - Do</label>
        </div>
    </div>
    <div *ngIf="isBeingCreated || isTemplateMade">
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Zapisz</button>
        <button (click)="onDelete()" class="baton">Usuń</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>