<div class="footer">
    <div>
        <label class="footerLabel" *ngIf="!isEditing()">SteelApp © 2025</label>
    </div>
    <div class="footerFieldBoxEdit" *ngIf="isEditing()">
        <button class="saveBtn" (click)="saveBtnClicked()" [disabled]="!isSaveEnabled()" [title]="isSaveEnabled() ? 'Zapisz' : 'Nie można zapisać, brak zmian'">Zapisz</button>
        <button class="clearBtn" (click)="clearBtnClicked()">Resetuj zmiany</button>
        <button class="cancelBtn" (click)="cancelBtnClicked()">Anuluj</button>
    </div>
    <div *ngIf="showEditButton()">
        <button class="editBtn" (click)="editBtnClicked()">Edytuj</button>
    </div>
    <div>
        <input type="text" class="templateNameInput" placeholder="Nazwa szablonu" *ngIf="isTemplateEdit()"/>
        <select class="templateSelect" *ngIf="isTemplate()">
            <option value="newTemplate" disabled selected>Nowy szablon</option>
            <option *ngFor="let template of templates" [value]="template.id">{{template.name}}</option>
        </select>
    </div>
</div>