input {
    border-radius: 10px;
    border: none;
    height: 28px;
    padding: 4px;
    width: 100%;
}

.chkBox {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

input:disabled {
    background: #555;
    border: 2px solid black;
}

.textAreaComponent {
    display: block;
    background: #336;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

textarea {
    border-radius: 10px;
    border: none;
    padding: 4px;
    padding-left: 8px;
    width: 100%;
    resize: vertical;
    min-height: 60px;
    max-height: 300px;
}

textarea:disabled {
    background: #555;
    border: 2px solid black;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: larger;
}

button:hover {
    cursor: pointer;
    background: #333;
    color: white;
}

.baton {
    width: 50%;
    margin-top: 10px;
    height: 28px;
    border-radius: 10px;
}

.editBaton {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    height: 28px;
    border-radius: 10px;
}