<div class="textAreaComponent">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ fieldInfo.title }}</label>
        <br/>
        <textarea id="simpleTextInput" type="text" [(ngModel)]="fieldInfo.value" [disabled]="this.stateMgr.getState() === STATE.FIELD_VIEW || this.stateMgr.getState() === STATE.FIELD_EDIT"></textarea>
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" placeholder="Nazwa nagłówka" [(ngModel)]="fieldInfo.title" style="margin-bottom: 10px;"/>
        <br/>
        <textarea type="text" placeholder="Wartość" disabled [(ngModel)]="fieldInfo.value"></textarea>
    </div>
    <div *ngIf="isBeingCreated">
        <button (click)="onDelete()" class="baton">Usuń</button>
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Utwórz</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>