<div class="textAreaComponent">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ titleValue }}</label>
        <br/>
        <textarea id="simpleTextInput" type="text" [(ngModel)]="value"></textarea>
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" placeholder="Nazwa nagłówka" [(ngModel)]="titleValue" style="margin-bottom: 10px;"/>
        <br/>
        <textarea type="text" placeholder="Wartość" disabled="true"></textarea>
    </div>
    <div *ngIf="isBeingCreated">
        <button (click)="onDelete()" class="baton">Usuń</button>
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Utwórz</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>