<div class="box-maker">
    <button (click)="addBox()" *ngIf="!addingEnabled" class="plusButton">+</button>
    <div *ngIf="addingEnabled">
        <label>Wybierz typ danych:</label>
        <select [(ngModel)]="chosenBox">
            <option *ngFor="let box of boxes" [value]="box">{{ box | boxNames }}</option>
        </select>
        <div class="menuButtons">
            <button (click)="nextClicked()" [disabled]="!chosenBox">Dalej</button>
            <button (click)="addingEnabled = false">Anuluj</button>
        </div>
    </div>
</div>