<div class="simpleTextComponent">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ fieldInfo.title }}</label>
        <br/>
        <input 
            id="simpleTextInput" 
            [placeholder]="fieldInfo.isNumber ? '123' : 'Tekst'" 
            [(ngModel)]="fieldInfo.value" 
            [disabled]="stateMgr.getState() === STATE.FIELD_VIEW || stateMgr.getState() === STATE.FIELD_EDIT"
            [type]="fieldInfo.isNumber ? 'number' : 'text'"
        />
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" placeholder="Nazwa nagłówka" [(ngModel)]="fieldInfo.title" style="margin-bottom: 10px;"/>
        <br/>
        <input type="text" [placeholder]="fieldInfo.isNumber ? '123' : 'Tekst'" disabled style="margin-bottom: 10px;"/>
        <br/>
        <input type="checkbox" [(ngModel)]="fieldInfo.isNumber" class="chkBox" id="czekuboksu"/> <label for="czekuboksu">Wartość liczbowa</label>
    </div>
    <div *ngIf="isBeingCreated || isTemplateMade">
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Zapisz</button>
        <button (click)="onDelete()" class="baton">Usuń</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>