<div class="simpleTextComponent">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ titleValue }}</label>
        <br/>
        <input id="simpleTextInput" type="text" [(ngModel)]="value"/>
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" placeholder="Nazwa nagłówka" [(ngModel)]="titleValue" style="margin-bottom: 10px;"/>
        <br/>
        <input type="text" [placeholder]="isNumberValue ? '123' : 'Tekst'" disabled="true" style="margin-bottom: 10px;"/>
        <br/>
        <input type="checkbox" [(ngModel)]="isNumberValue" class="chkBox" id="czekuboksu"/> <label for="czekuboksu">Wartość liczbowa</label>
    </div>
    <div *ngIf="isBeingCreated">
        <button (click)="onDelete()" class="baton">Usuń</button>
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Utwórz</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>