<div class="settings-box">
    <h2>Panel ustawień</h2>
    <app-setting-item *ngFor="let setting of settings" [settingName]="setting.name" [settingValue]="setting.value"></app-setting-item>
    <button (click)="saveSettings()" class="save-btn">Zapisz</button>
</div>

<div class="user-box">
    <div class="employees-panel">
        <h2>Lista pracowników</h2>
        <app-user-item *ngFor="let user of users" [userData]="user" (importantChangesDone)="handleImportantChanges()" (userSelected)="handleUserSelected($event)"></app-user-item>
    </div>
    <div class="add-employee-panel">
        <h2>Dodawanie pracownika</h2>
        <form (ngSubmit)="addEmployee()" #employeeForm="ngForm">
            <div>
                <label for="name">Imię:</label> <br/>
                <input type="text" id="name" name="name" [(ngModel)]="newUserInfo.name" required>
            </div>
            <div>
                <label for="surname">Nazwisko:</label> <br/>
                <input type="text" id="surname" name="surname" [(ngModel)]="newUserInfo.surname" required>
            </div>
            <div>
                <label for="Login">Login pracownika:</label> <br/>
                <input type="text" id="Login" name="Login" [(ngModel)]="newUserInfo.username" required>
            </div>
            <div>
                <label for="role">Uprawnienia:</label> <br/>
                <select id="role" name="role" [(ngModel)]="newUserInfo.permissions" required>
                    <option value="2">Przeglądanie</option>
                    <option value="1">Dodawanie</option>
                </select>
            </div>
            <button type="submit" [disabled]="!employeeForm.form.valid">{{ newUserInfo.id! > 0 ? 'Zaktualizuj' : 'Dodaj' }}</button>
            <button type="button" (click)="resetNewUserInfo()">Wyczyść</button>
        </form>
    </div>
</div>