.contentBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.column > * {
    width: 100%;
    box-sizing: border-box;
}

.column:nth-child(1) {
    background: #444;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}

h2 {
    text-align: center;
}