<div class="fileBoxContainer">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ titleValue }}</label>
        <div *ngFor="let item of fileNames; let i = index" class="fileNames" (click)="fileClicked(true, i)">
            <label class="kross">{{item}}</label><label class="eks">X</label>
        </div>
        <label for="fileInput" class="file-box-label">
            <div class="file-box">
                <span>Dodaj plik</span>
            </div>
        </label>
        <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        hidden
        multiple
        />
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" [(ngModel)]="titleValue"/>
        <label for="fileInput" class="file-box-label">
            <div class="file-box">
                <span>Dodaj plik</span>
            </div>
        </label>
        <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        hidden
        disabled
        class="disabled-input"
        />
    </div>
    <div *ngIf="isBeingCreated">
        <button (click)="onDelete()" class="baton">Usuń</button>
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Utwórz</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>