<div *ngIf="!isBeingCreated">
    <label>{{ titleValue }}</label>
    <label for="fileInput" class="file-box-label">
        <div class="file-box">
            <span>Click to upload a file</span>
        </div>
    </label>
    <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        hidden
        multiple
    />
    <p *ngFor="let item of fileNames">{{item}}</p>
</div>
<div *ngIf="isBeingCreated">
    <input type="text" [value]="titleValue"/>
    <label for="fileInput" class="file-box-label">
        <div class="file-box">
            <span>Click to upload a file</span>
        </div>
    </label>
    <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        hidden
        disabled
        class="disabled-input"
    />
</div>