<div class="fileBoxContainer">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ fieldInfo.title }}</label>
        <div *ngFor="let item of fileNames; let i = index" class="fileNames" (click)="fileClicked(true, i)">
            <label class="kross" *ngIf="fileNames">{{item}}</label><label class="eks">X</label>
        </div>
        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
        <button type="button" (click)="fileInput.click()" class="custom-file-btn" [disabled]="stateMgr.getState() === STATE.FIELD_VIEW || stateMgr.getState() === STATE.FIELD_EDIT">Wybierz plik</button>
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" [(ngModel)]="fieldInfo.title"/>
        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
        <button type="button" (click)="fileInput.click()" class="custom-file-btn" disabled>Wybierz plik</button>
    </div>
    <div *ngIf="isBeingCreated">
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Zapisz</button>
        <button (click)="onDelete()" class="baton">Usuń</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>