<div class="imagesBox">
    <div *ngIf="!isBeingCreated">
        <label class="title">{{ fieldInfo.title }}</label>
        <br />
        <div class="imageCounter" *ngIf="images.length > 0">
            <label>Zdjęcie {{selectedImage}} z {{images.length}}</label>
        </div>
        <div class="image-navigation">
            <app-image-slave [imageSrc]="currentPhoto"></app-image-slave>
            <button (click)="previousImage()" [disabled]="selectedImage <= 1" *ngIf="images.length > 1">&#8592;</button>
            <button (click)="nextImage()" [disabled]="selectedImage >= images.length" *ngIf="images.length > 1">&#8594;</button>
        </div>
        <input type="file" #fileInput style="display: none;" (change)="onImageSelect($event)">
        <button type="button" (click)="fileInput.click()" class="custom-file-btn" [disabled]="[STATE.FIELD_EDIT, STATE.FIELD_VIEW, STATE.TEMPLATE_EDIT, STATE.TEMPLATE_VIEW].includes(stateMgr.getState())">Wybierz plik</button>
    </div>
    <div *ngIf="isBeingCreated">
        <input type="text" [(ngModel)]="fieldInfo.title" />
        <br />
        <input type="file" #fileInput style="display: none;" (change)="onImageSelect($event)">
        <button type="button" (click)="fileInput.click()" class="custom-file-btn" disabled>Wybierz plik</button>
    </div>
    <div *ngIf="isBeingCreated || isTemplateMade">
        <button *ngIf="isBeingCreated" (click)="onCreate()" class="baton">Zapisz</button>
        <button (click)="onDelete()" class="baton">Usuń</button>
    </div>
    <div *ngIf="shouldShowEdit()">
        <button (click)="onEdit()" class="editBaton">Edytuj</button>
    </div>
</div>