.contentBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.contentBox > * {
  flex: 0 0 24%;
  margin: .5%;
  max-width: 24%;
  min-width: 200px;
  box-sizing: border-box;
}